{{#if info.images}}
  {{#if info.images.0.url}}
    {{!-- <a href="/movies/{{movie.id}}">
  <img
    src="{{movie.image}}"
    class="card-img-top object-fit-contain"
    href="/movies/{{movie.id}}"
    alt="{{movie.title}}"
  />
</a> --}}
    <img
      src="{{info.images.0.url}}"
      class="object-fit-contain"
      alt="{{info.name}}"
    />
  {{else}}
    <img
      src="img/no-cover.png"
      class="object-fit-contain"
      alt="{{info.name}}"
    />
  {{/if}}
{{else}}
  <img src="img/no-cover.png" class="object-fit-contain" alt="{{info.name}}" />
{{/if}}
<div class="card-body text-middle">
  <p class="card-title"><strong>{{info.name}}</strong></p>
  {{#if isAlbum}}
    <p>{{info.release_date}}</p>
    <a
      type="button"
      href="/albums/{{info.id}}/tracks"
      class="btn btn-danger btn-sm"
    >
      View Tracks
    </a>
  {{else}}
    <a type="button" href="/albums/{{info.id}}" class="btn btn-danger btn-sm">
      View Albums
    </a>
  {{/if}}
</div>