{{#if info.images}}
  {{#if info.images.0.url}}
  {{!-- <a href="{{refButton}}">
    <img
      src="{{info.images.0.url}}"
      class="card-img-top object-fit-contain imgList"
      href="{{refButton}}"
      alt="{{info.name}}"
    />
  </a> --}}
    <img
      src="{{info.images.0.url}}"
      class="card-img-top object-fit-contain imgList rounded"
      alt="{{info.name}}"
    />
  {{else}}
    <img
      src="img/no-cover.png"
      class="card-img-top object-fit-contain imgList rounded"
      alt="{{info.name}}"
    />
  {{/if}}
{{else}}
  <img src="img/no-cover.png" class="card-img-top object-fit-contain imgList rounded" alt="{{info.name}}" />
{{/if}}