{{#if info.images}}
  {{#if info.images.0.url}}
    {{!-- <a href="/movies/{{movie.id}}">
  <img
    src="{{movie.image}}"
    class="card-img-top object-fit-contain"
    href="/movies/{{movie.id}}"
    alt="{{movie.title}}"
  />
</a> --}}
    <img
      src="{{info.images.0.url}}"
      class="card-img-top object-fit-contain imgList"
      alt="{{info.name}}"
    />
  {{else}}
    <img
      src="img/no-cover.png"
      class="card-img-top object-fit-contain imgList"
      alt="{{info.name}}"
    />
  {{/if}}
{{else}}
  <img
    src="img/no-cover.png"
    class="card-img-top object-fit-contain imgList"
    alt="{{info.name}}"
  />
{{/if}}

<div class="card-body text-middle">
  <p class="card-title"><strong>{{info.name}}</strong></p>

  <p>{{info.release_date}}</p>
  <a
    type="button"
    href="/albums/{{info.id}}/tracks"
    class="btn btn-danger btn-sm"
  >
    Play Track
  </a>
</div>
<li class="list-group-item d-flex justify-content-between align-items-center">
  <strong>{{info.name}}</strong>
  <span class="badge rounded-pill">
    <figure class="d-flex align-items-center">
      {{#if info.preview_url}}
        <audio controls src="{{info.preview_url}}">
        </audio>
        <a href="{{info.preview_url}}" class="">
          <img
            src="/images/download-icon.png"
            id="imgTracks"
            alt="Download"
          />
        </a>
      {{else}}
        <audio controls src="">
        </audio>
      {{/if}}
    </figure>
  </span>
</li>