{{#if info.images}}
  {{#if info.images.0.url}}
    <img
      src="{{info.images.0.url}}"
      class="card-img-top object-fit-contain imgList"
      alt="{{info.name}}"
    />
  {{else}}
    <img
      src="img/no-cover.png"
      class="card-img-top object-fit-contain imgList"
      alt="{{info.name}}"
    />
  {{/if}}
{{else}}
  <img
    src="img/no-cover.png"
    class="card-img-top object-fit-contain imgList"
    alt="{{info.name}}"
  />
{{/if}}

<div class="card-body text-middle">
  <p class="card-title"><strong>{{info.name}}</strong></p>

  <p>{{info.release_date}}</p>
  <a
    type="button"
    href="/albums/{{info.id}}/tracks"
    class="btn btn-danger btn-sm"
  >
    Play Track
  </a>
</div>
