<div class="m-0 d-flex flex-column">
  <p class="card-title"><strong>{{info.name}}</strong></p>
  <a class="btn btn-outline-light btn-lg border border-0 p-2" href="../albums/{{info.album.id}}">
    <img
      src="/img/album.png"
      alt="Logo"
      width="25"
      height="25"
      class="d-inline-block align-text-top"
    />
    {{info.album.name}}
  </a>
  <div class="d-flex justify-content-center">
  {{#each info.artists as |artist|}}
    <a
      class="btn btn-outline-light btn-lg border border-0 p-2"
      href="../artist/{{artist.id}}"
    >
      <img
        src="/img/artist.png"
        alt="Logo"
        width="24"
        height="24"
        class="d-inline-block align-text-top"
      />
      {{artist.name}}
    </a>
  {{/each}}
  </div>
  
  <p>{{yearDate info.album.release_date}}</p>
</div>