<div class="m-5">
  <div class="container text-center text-light">
    {{!-- - ARTISTS --}}
    <div class="px-2 border border-0">
      <h3>ARTISTS</h3>
      <div class='row row-cols-2 row-cols-lg-6 g-2 g-lg-3'>
      {{#each artists.Artists as |artist|}}
        <div class='col card border border-0 bg-transparent text-light'>
          {{> artistAlbum info=artist  isAlbum=true}}
        </div>
      {{/each}}
      </div>
    </div>
    {{!-- - ALBUMS --}}
    <div class="px-2 border border-0">
      <h3>ALBUMS</h3>
      <div class='row row-cols-2 row-cols-lg-6 g-2 g-lg-3'>
        {{#each artists.Albums as |artist|}}
          <div class='col card border border-0 bg-transparent text-light'>
            {{> artistAlbum info=artist  isAlbum=false}}
          </div>
        {{/each}}
      </div>
    </div>
    {{!-- - TRACKS --}}
    <div class="px-2 border border-0 text-light">
      <h3>TRACKS</h3>
      <div class='row row-cols-2 row-cols-lg-6 g-2 g-lg-3'>
        {{#each artists.Tracks as |track|}}
          <div class='col card border border-0 bg-transparent text-light'>
            {{> track info=track isTrack=true}}
            <div class="text-middle">
              <div class="d-inline-flex gap-1">
                <a
                  class="addPlaylist text-decoration-none"
                  data-bs-toggle="collapse"
                  href="#collapse{{track.id}}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapse{{track.id}}"
                >
                  + Add
                </a>
              </div>
              <div class="collapse" id="collapse{{track.id}}">
                <div class="card card-body z-3 position-absolute">
                  {{#each ../currentUser.playlists as |playlist|}}
                    <form action="/playlist/addTrack/{{playlist.id}}/{{track.id}}" method="post">
                      <button type="submit" class="btn btn-danger btn-sm">
                        {{playlist.name}}
                      </button>
                    </form>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
