<div class="mb-5 mx-5">
  <div>
    <a href="{{httpHeader}}" class="btn btn-outline-light btn-lg border border-0">
      <span class="fa fa-angle-left"></span>
      Back
    </a>
  </div>
  <div class="d-flex justify-content-center">
    {{#if AlbumInfo.images}}
      {{#if AlbumInfo.images.0.url}}
        <img
          src="{{AlbumInfo.images.0.url}}"
          class="card-img-top object-fit-contain imgArtist shadow-lg"
          alt="{{AlbumInfo.name}}"
        />
      {{else}}
        <img
          src="img/no-cover.png"
          class="card-img-top object-fit-contain imgArtist shadow-lg"
          alt="{{AlbumInfo.name}}"
        />
      {{/if}}
    {{else}}
      <img
        src="img/no-cover.png"
        class="card-img-top object-fit-contain imgArtist shadow-lg"
        alt="{{AlbumInfo.name}}"
      />
    {{/if}}
  </div>
  <div class="text-center text-light">    
    <h1>{{AlbumInfo.name}}</h1>
    <p class="m-0">{{AlbumInfo.type}} · {{AlbumInfo.release_date}}</p>
    <ul class="d-flex justify-content-center p-0 m-0">
      {{#each AlbumInfo.artists as |artist|}}
        <a class="btn btn-outline-light btn-lg border border-0 p-2 text-capitalize text-decoration-underline" href="../artist/{{artist.id}}">{{artist.name}}</a>
      {{/each}}
    </ul>
    <p class="d-flex justify-content-end">Total Tracks: {{AlbumInfo.total_tracks}}</p>
  </div>
   {{#each tracks as |track|}}
      {{> trackPlayer info=track}}
    {{/each}}
</div> 