{{#each users as |oneUser|}}
  <div class="card">
    <h5 class="card-header">{{oneUser.user.username}}</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <div class='row row-cols-1 row-cols-md-4 g-2'>
        {{#each oneUser.playlists as |playlist|}}
        <div class='col'>
          <div class='card border border-0'>
            {{> playlist info= playlist}}
          </div>
        </div>
        {{/each}}
      </div>
      {{#if followersUser}} 
      <form method ="POST" action = "/addFollowers/{{oneUser.user.id}}" >
      <button type= "submit" class="btn btn-primary">Follow</button></form>
       {{else}}<form method ="POST" action = "/addFollowers/{{oneUser.user.id}}" >
      <button type= "submit" class="btn btn-primary">Follow</button></form>
      {{/if}}
      <a href="#" class="btn btn-primary">Like</a>
      {{../actualUser}}
    </div>
  </div>
  {{!-- {{#if (arrayEquals oneUser.playlists followersUser)}}
  Verdadero
{{else}}
  Falso
{{/if}} --}}
{{/each}}

